<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> WELCOME TO GABS NEWS  </title>
		{% endif %}
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
		
    </head>
    <body>

{% extends 'bootstrap/base.html' %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<footer class ="footer footer-info ">
        <h4>Powered by News API</h4>
    </footer>

{% endblock %}
</body>
<html>