{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4 text-center">{{title}}</h1>
  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="lead text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead text-center">
    <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#generalNews" role="button" aria-expanded="false" aria-controls="collapseExample">General</a>
    <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#businessNews" role="button" aria-expanded="false" aria-controls="collapseExample">Business</a>
    <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#sportNews" role="button" aria-expanded="false" aria-controls="collapseExample">Sports</a>
    <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#entertainmentNews" role="button" aria-expanded="false" aria-controls="collapseExample">Entertainment</a>
    <a class="btn btn-outline-primary btn-lg" data-toggle="collapse" href="#technologyNews" role="button" aria-expanded="false" aria-controls="collapseExample">Technology</a>
  </p>
  <div id="generalNews" class="collapse">
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text"></p>
      <div class="row">
        {{macro.displaySourcesList(general)}}
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
    <!-- <div class="card-footer text-muted">
    </div> -->
  </div>
</div>
</div>
<div id="businessNews" class="collapse">
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text"></p>
        <div class="row">
          {{macro.displaySourcesList(business)}}
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
      </div> -->
      <!-- <div class="card-footer text-muted">
      </div> -->
    </div>
  </div>
  </div>
  <div id="sportNews" class="collapse">
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text"></p>
          <div class="row">
            {{macro.displaySourcesList(sports)}}
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> -->
        <!-- <div class="card-footer text-muted">
        </div> -->
      </div>
    </div>
    </div>
    <div id="entertainmentNews" class="collapse">
        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text"></p>
            <div class="row">
              {{macro.displaySourcesList(entertainment)}}
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
          <!-- <div class="card-footer text-muted">
          </div> -->
        </div>
      </div>
      </div>
      <div id="technologyNews" class="collapse">
          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text"></p>
              <div class="row">
                {{macro.displaySourcesList(technology)}}
              </div>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
            <!-- <div class="card-footer text-muted">
            </div> -->
          </div>
        </div>
        </div>
</div>



<!-- <div class="jumbotron">
    <button type="button" class="btn btn-primary left">
        Notifications <span class="badge badge-light">4</span>
      </button>
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <input type="text">
      <a class="btn btn-primary btn-lg" href="" role="button">Learn more</a>
    </p>
  </div> -->
  
  {% endblock %}

  